*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.full-screen-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/header_image.jpg);
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #1b2522;
  align-items: center;
}

.nav-top {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  width: 50px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

.nav-list li a:hover {
  color: #ccc;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.sub-title {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  color: inherit;
  background-color: hsl(200, 100%, 50%);
  padding: 0.25em 1em;
  border-radius: 100000px;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
  color: white;
}

.scroll-down-icon {
  position: absolute;
  bottom: 1rem;
  width: 30px;
}
