*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.full-screen-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/header_image.jpg);
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #1b2522;
  align-items: center;
}

.nav-top {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  width: 50px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

.nav-list li a:hover {
  color: #ccc;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.sub-title {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  color: inherit;
  background-color: hsl(200, 100%, 50%);
  padding: 0.25em 1em;
  border-radius: 100000px;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
  color: white;
}

.scroll-down-icon {
  position: absolute;
  bottom: 1rem;
  width: 30px;
}

.section {
  padding: 2rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.curriculum-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 450px));
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 50px;
}

.curriculum-grid-item {
  display: flex;
}

.curriculum-grid-item img {
  width: 50px;
  margin-right: 1rem;
}

.section-accent {
  background-color: #0af;
}

.pricing-cards-container {
  display: flex;
  justify-content: center;
}

.pricing-card {
  border: 1px solid black;
  text-align: center;
  background-color: #dcf4ff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3em;
  padding: 1rem;
}

.pricing-card:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.pricing-card.accent {
  background-color: white;
  margin: 0;
}

.pricing-card:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.price-header {
  margin-bottom: 1.5rem;
}

.plan-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.plan-price {
  font-size: 2rem;
  font-weight: bold;
}

.plan-price::after {
  content: "/mo";
  font-size: 0.75rem;
  color: #777;
}

.feature {
  text-align: left;
  margin-bottom: 0.5rem;
}

.feature.inactive {
  text-decoration: line-through;
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form label {
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  outline: none;
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-family: inherit;
}
input:focus,
textarea:focus {
  border: 1px solid #0af;
}

textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.btn-container {
  text-align: end;
}

.btn.btn-square {
  color: white;
  outline: none;
  border: 1px solid;
  padding: 0.3rem 1rem;
  border-radius: 0.5em;
  font-size: inherit;
}
